<script src="https://giscus.app/client.js"
        data-repo="rlove/rlove.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkxNTkyMTY3Nw=="
        data-category="Articles"
        data-category-id="DIC_kwDOAPLyDc4CRQLN"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>